<!DOCTYPE html>
<html ng-app="nideputenisoumises">

  <head>
    <meta charset="utf-8" />
    <title>Ni député ni soumises</title>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="modern-business.css" />
    <script data-require="angular.js@1.0.x" src="https://code.angularjs.org/1.0.8/angular.js" data-semver="1.0.8"></script>
    <script src="https://apis.google.com/js/client:plusone.js" type="text/javascript"></script>
    <script data-require="jquery@2.2.0" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta name="google-signin-client_id" content="149865370621-ep07k9i24edon0krf12m34tmvc1naekn.apps.googleusercontent.com">    
    <script src="app.js"></script> 
    
    <script type="text/javascript">
    var onSignIn = function (googleUser){
    	console.log("onSignIn");
		var profile = googleUser.getBasicProfile();
    	console.log('ID: ' + profile.getId());
    	console.log('Name: ' + profile.getName());
    	console.log('Email: ' + profile.getEmail());
		angular.element(document.getElementById('MainCtrl')).scope().majConnexion(profile.getName());		
  		angular.element(document.getElementById('MainCtrl')).scope().$apply();
    }
    var signOut = function(){
    	console.log("signOut");
		var auth2 = gapi.auth2.getAuthInstance();        
        auth2.signOut().then(function () {
          console.log('User signed out.');
          angular.element(document.getElementById('MainCtrl')).scope().majConnexion("Visiteur");		
  		  angular.element(document.getElementById('MainCtrl')).scope().$apply();
        });
    }
	var init = function(){
		console.log("Init : called");
		window.init();
	}	
	
	</script>
	
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    
  </head>


  <body ng-controller="MainCtrl" id="MainCtrl">
    
    <div class="navTemplate"></div>
    
    <div class="container">		
     
      <!--  
      <table class="table">
	      <thead>
	        <tr>
	          <td>Identifiants</td>
	          <td>Noms</td>
	          <td>Score</td>
	        </tr>
	      </thead>
	      <tr ng-repeat="t in tabTest | orderBy:'-score'">
	        <td>{{t.id}}</td>
	        <td>{{t.name}}</td>
	        <td>{{t.score}}</td>
	      </tr>
     </table>
      -->
      
      <!-- page d'authentification -->   
      <div class="row" ng-hide=connecte>
      	<div class="col-lg-12">
           <h1 class="page">
               Authentification
           </h1>
           <h5 class="page-header"  style="margin: 0px 0px 20px 0px;">
           		Une authentification est nécessaire pour poursuivre
           </h5>
        </div>      
        <div class="col-xs-6 col-xs-offset-3">
          <div class="panel panel-primary">
            <div class="panel-heading">Connexion</div>
            <div class="panel-body">
              Identifie toi avec ton compte Google pour accéder à l'application.
              <br/>
              <br/>
              <div id="bloc_page" align="center">
              	<div id="signinButton" class="g-signin2" data-onsuccess="onSignIn"></div>
              </div>
        	</div>
           </div>
         </div>
       </div>
       
       <div class="row" ng-show=connecte>
         <div class="row" ng-hide=accueil>
          <div class="col-lg-12">
              <h1 class="page">
                  Bienvenue sur Ni député Ni soumises
              </h1>
              <h5 class="page-header"  style="margin: 0px 0px 20px 0px;">
              	Vote des lois et regarde où tu te situes dans l'hémicycle
              </h5>
          </div>
      	 </div>
         <div class="row" ng-hide=accueil>         				
			<h2>Dashboard</h2> 
         </div>          
      
        
        <div class="row" ng-hide=partieVote>
          <div class="col-lg-12">
              <h1 class="page">
                  T'es de droite ou de gauche ?
              </h1>
              <h5 class="page-header"  style="margin: 0px 0px 20px 0px;">
              	Vote 10 lois pour le savoir
              </h5>
          </div>
        </div>   
          
        <div class="row" ng-hide=affichageVote>
          <h3>Loi n°{{compteur+1}} :</h3>
          <br/>
          {{questions[compteur].question}}
          <br/>
          <br/>
          <button class="btn btn-success" ng-click="oui()">Oui</button>
          <button class="btn btn-primary" ng-click="nspp()">S'abstenir</button>
          <button class="btn btn-danger" ng-click="non()">Non</button>
        </div>
        
        
        <div class="row" ng-hide=affichageFin>
          <h1>Merci d'avoir voté</h1>
          <table class="table">
            <thead>
              <tr>
                <td>Questions</td>
                <td>Vote</td>
              </tr>
            </thead>
            <tr ng-repeat="res in questions">
              <td>Question {{res.ordre}}</td>
              <td>{{res.vote}}</td>
            </tr>
          </table>
        </div>
        
      </div>
      
      <br/>
      <hr>
      <div class="footerTemplate"></div>

    </div>
  </body>
</html>
